/* Sliding effect for carousel */
.slide-enter {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .slide-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .slide-exit {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
  }
  